body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}

.header {
  background-color: #87509c;
}

.container {
  width: 1050px;
  margin: 0 auto;
}

.main_navigation {
  display: flex;
  align-items: center;
  padding-top: 57.71px;
  margin-bottom: 133px;
  justify-content: space-between;
}

.cuda_logo {
  max-height: 36.29px;
}

.nav_links {
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  list-style: none;
  margin: 0;
}

.nav_anchor {
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  border-radius: 5px;
}

.nav_anchor:hover {
  background-color: #643a79;
}

.main_claim_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 145px;
  align-items: center;
}

.main_claim {
  font-size: 42.15px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.cta_button {
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #eb7d4b;
  padding: 15px 67px;
  border-radius: 5px;
  border: none;
}

.section_title {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.collection_styling {
  display: flex;
  flex-direction: column;
}

.services_collection {
  background-color: #17c2a4;
  color: #fff;
}

.services_line {
  width: 87px;
  height: 4px;
  color: #000;
  border: none;
  background-color: #000;
  opacity: 0.15;
  margin: 0 0 19px 0;
}

.services_description {
  font-size: 18px;
  width: 577px;
  text-align: center;
  margin: 0;
  margin-bottom: 69px;
  font-weight: 400;
}

.services_collection {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.service_title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 11.75px 0;
}

.service_description {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.flag_icon_branding_1 {
  height: 134px;
  margin-bottom: 59.25px;
}

.pencil_icon_branding_2 {
  height: 134px;
  margin-bottom: 55.25px;
}

.cog_icon_branding_3 {
  height: 134px;
  margin-bottom: 58.25px;
}

.rocket_icon_branding_4 {
  height: 134px;
  margin-bottom: 54.25px;
}

.branding_example,
.design_example,
.development_example,
.rocket_example {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.branding_example {
  width: 190px;
}

.design_example {
  width: 170px;
}

.development_example {
  width: 191px;
}

.rocket_example {
  width: 187px;
}

.services_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 106.5px;
  margin-bottom: 122px;
}

.team_collection {
  background-color: #e7f1f8;
  color: #3c4761;
}

.team_container {
  padding-top: 107.12px;
  padding-bottom: 126.04px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.team_line {
  width: 87.84px;
  height: 4.13px;
  color: #bdd1df;
  border: none;
  background-color: #bdd1df;
  opacity: 0.75;
  margin: 1.83px 0 20.16px 0;
}

.team_description {
  text-align: center;
  font-size: 18.29px;
  margin: 0 0 73.76px 0;
}

.team_member_photo {
  height: 200px;
  margin: 0 0 34px 0;
}

.team_member_name {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.team_member_title {
  color: #30bae7;
  font-size: 16px;
  text-align: center;
  margin: -2px 0 9px 0;
}

.team_member_bio {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

.some_icon {
  height: 32px;
  margin: auto 5px;
}

.team_member_collection {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 201.92px;
}

.team_collection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.team_member_collection:first-of-type .team_member_name {
  text-transform: uppercase;
}

.some_icon:hover {
  border-radius: 50%;
  box-shadow: 0 5px 4px -1px rgb(0 0 0 / 25%);
}

.skills_collection {
  background-color: #fff;
  color: #3c4761;
}

.skills_container {
  padding-top: 104.5px;
  padding-bottom: 109.75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills_line {
  width: 92.05px;
  height: 4px;
  color: #dfe8ed;
  border: none;
  background-color: #dfe8ed;
  margin: 1.5px 0 18.88px 0;
}

.skills_description {
  font-size: 18px;
  width: 578.76px;
  text-align: center;
  margin: 0 0 79.13px 0;
}

.black_circle {
  background-color: #000;
  width: 160px;
  border-radius: 50%;
  display: inline-block;
  height: 160px;
  z-index: 1;
}

.white_circle {
  background-color: #fff;
  width: 140px;
  border-radius: 50%;
  height: 140px;
  z-index: 2;
  position: absolute;
}

.skill_percentage {
  font-size: 50px;
  font-weight: 300;
  z-index: 3;
  margin: 0;
  position: absolute;
}

.skills_example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill_name {
  font-size: 24px;
  text-transform: uppercase;
  margin: 25.25px 0 0 0;
}

.skills_collection_container {
  text-align: center;
}

.skills_circles {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.portfolio_collection {
  background-color: #ffdd99;
  color: #393939;
}

.portfolio_container {
  padding-top: 107.5px;
  padding-bottom: 109px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.portfolio_line {
  width: 82.82px;
  height: 4px;
  border: none;
  background-color: #e5c37f;
  margin: 1.5px 0 18.87px 0;
}

.portfolio_description {
  width: 474.07px;
  font-size: 18px;
  text-align: center;
  margin: 0 0 110px 0;
}

.portfolio_screens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 150px;
}

.portfolio_screen_img {
  width: 515px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.portfolio_screen_img:nth-child(3),
.portfolio_screen_img:last-child {
  margin-bottom: 0;
}

.portfolio_screen_img:first-child,
.portfolio_screen_img:nth-child(2) {
  margin-top: 0;
}

.portfolio_button {
  color: #fff;
  font-size: 18px;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  background-color: #17c2a4;
  border: none;
  padding: 22px 49px 22px 49px;
  border-radius: 5px;
  font-weight: 600;
}

.testimonials_collection {
  background-color: #d74680;
  color: #fff;
}

.testimonials_container {
  padding-top: 106.5px;
  padding-bottom: 107px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.testimonials_line {
  width: 87px;
  height: 4px;
  border: none;
  background-color: #000;
  margin: 1.5px 0 18.87px 0;
  opacity: 0.15;
}

.testimonials_description {
  font-size: 18px;
  text-align: center;
  margin: 0 0 93.13px 0;
}

.testimonial_mugshot {
  width: 96px;
  height: 50%;
  margin-right: 45px;
}

.testimonial_mugshot:hover {
  border-radius: 50%;
  box-shadow: 0 5px 4px -1px rgb(0 0 0 / 25%);
}

.testimonial_quote {
  font-size: 21px;
  font-weight: 300;
  font-style: italic;
  margin: 0 0 32px 0;
}

.testimonial_quote::before {
  content: open-quote;
}

.testimonial_quote::after {
  content: close-quote;
}

.testimonial_name {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.testimonial_profession {
  font-size: 18px;
  color: #ffdd99;
  font-weight: normal;
  margin: -4px 0 0 0;
}

.testimonials_collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.example_testimonial {
  width: 480px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 55px;
  margin-bottom: 55px;
}

.example_testimonial:nth-child(3),
.example_testimonial:last-child {
  margin-bottom: 0;
}

.example_testimonial:first-child,
.example_testimonial:nth-child(2) {
  margin-top: 0;
}

.example_testimonial:first-of-type .testimonial_name:first-of-type {
  text-transform: capitalize;
}

.contact_collection {
  background-color: #3c5499;
  color: #fff;
}

.contact_container {
  padding-top: 108px;
  padding-bottom: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_line {
  width: 106px;
  height: 4px;
  border: none;
  background-color: #273a71;
  margin: 1.5px 0 18.87px 0;
  opacity: 0.15;
}

.contact_description {
  font-size: 18px;
  text-align: center;
  margin: 0 0 72px 0;
}

.contact_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.placeholders_collection {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form_element {
  background-color: #273a71;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  color: #fff;
  width: calc(50% - 20px);
  margin: 0 0 27px 0;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

.message_field {
  background-color: #273a71;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  color: #fff;
  border: none;
  margin: 0 0 59px 0;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  width: 1050px;
  height: 200px;
}

.message_button {
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background-color: #30bae7;
  padding: 22px 117px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}

::placeholder {
  color: #fff;
}

::-webkit-input-placeholder
  ::-moz-input-placeholder
  ::-o-webit-input-placeholder {
  position: absolute;
}

.footer_section {
  background-color: #344b8e;
  color: #fff;
}

.footer_links {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  padding: 0;
}

.footer_anchor:link {
  color: #fff;
  text-decoration: none;
}

.footer_anchor:visited {
  color: #fff;
}

.footer_anchor:hover {
  color: #30bae7;
}

.footer_anchor:active {
  color: #fff;
}

.footer_container {
  padding-top: 41px;
  padding-bottom: 34px;
}
